<!DOCTYPE html>
<html>
  <head>
    <title>Systemetize</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="manifest" href="/manifest.json">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'react-sortable-tree/style.css', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-dark">
    <%= render "layouts/navbar" %>
    <% flash.each do |flash_type, message| %>
      <div class="alert alert-<%= flash_type %>" role="alert">
        <%= message %>
      </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
